[Unit]
Description=TV Video Player Service
After=network.target

[Service]
WorkingDirectory=/home/homer/simpson-tv/
ExecStart=/home/homer/simpson-tv/video_player
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
